
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url(./images/leaderboardbg.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
  margin: 3vw 12vw 3vw 12vw;
  border: 2px solid lightblue;
  border-radius: 2vw;
}

.heading {
  margin-left: 4rem;
  margin-bottom: 2rem;
  color: #ebd197;
}

.header {
  background: url(./images/leaderboard-icon.png);
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  background-size: cover;
}

.scores {
  display: flex;
  align-content: center;
}

.recent-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem auto 0;
  width: 50%;
}

.recent-scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: aliceblue;
  padding: 1rem;
  border: 1px solid aliceblue;
}

.refresh-btn {
  padding: 0.5rem;
  border-radius: 8px;
  width: 30%;
  font-weight: bold;
  font-size: 1.2rem;
}

.recent-score-list {
  list-style: none;
  border: 1px solid aliceblue;
}

.score-li {
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}

.score-li:nth-of-type(odd) {
  background-color: #1a84b8;
}

.score-li:nth-of-type(even) {
  background-color: #00008b;
}

.add-score {
  padding: 1rem;
  width: 40%;
  box-shadow: 5px 5px 10px 10px;
  margin: 3rem auto 0;
}

.add-score-h2 {
  text-align: center;
  color: aliceblue;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form > * {
  padding: 0.5rem;
  border-radius: 8px;
}

.submit {
  width: 50%;
  align-self: flex-end;
}
